extends layoutBS

block content

  background.masthead.text-center.text-white.d-flex
    .container.my-auto
      .row
      form(method="post" action="saveLink")
        .form-group
          h2.section-heading.text-left.text-white.label(for='exampleInputEmail1') User Code
          input#exampleInputEmail1.form-control(name='url' type='url' aria-describedby='urlHelp' placeholder='Enter Code')
      form(method="post" action="saveStudent")
        .form-group
          h2.section-heading.text-left.text-white.label(for='exampleInputEmail1') Ngrok https
          input#exampleInputEmail1.form-control(name='student' placeholder='Enter Ngrok https')
        a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Get Started!
